name: CI

on:
  pull_request:
    paths:
      - '**.java'
      - '**.xml'
      - '.github/workflows/*.yml'
      - 'pom.xml'
  push:
    branches:
      - '**'
    paths:
      - '**.java'
      - '**.xml'
      - 'pom.xml'

jobs:
  test:
    name: test ${{ matrix.os }} jdk${{ matrix.java }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        java: [ 17, 21 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          java-package: jdk
          cache: 'maven'

      - name: Test
        run: mvn test
